*{
    padding-left: 0;
    margin: 0;
}
nav{
    
}
#navigation{
    display: flex;
    justify-content: space-between;
    background-color: #1a1244;
    padding: 18px 200px;
    border: 2px solid #372492;
   
}
#navigation ul{
    display: flex;
    
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    
    
    
   

}
#navigation ul li a{
text-decoration: none;
font-size: 18px;
font-weight: bold;
color: white;
padding: 10px 20px;
border-radius: 5px;
transition: 0.5s;

}
#navigation div{
    color: white; 
}
#navigation div h1{
    font-size: 22px;
}
#navigation ul li:hover a{
    background-color: #ec14daf5;
    color:#000000 ;
}
/* hero aria code stard */
 #Hero-aria{
  background-image: url(image/humaun.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-icon i{
    color: red;
    background-color: #22a516;
    height: 30px;
    width: 45px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
}
.search-icon input{
    width: 500px;
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    padding: 5px 20px;
}
/* main aria code stard */
#video-bar{
    background-color: #1a1244;
}
#vedeo-cowndown{
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 20px;
    margin: auto;
    align-items: center;
    
    
}
#vedeo-cowndown h3{
    color: #2bc96d;
    font-size: 25px;
}
#vedeo-cowndown h4{
    color: #2bc96d;
    font-size: 18px;
}
#vedeo-cowndown span{
color: #1f4a70;
background-color: aliceblue;
border: 1px solid grey;
padding: 0 5px;
border-radius: 5px;
}
#items-card-prents{
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    padding-bottom: 60px;
}
.single-card{
    height: 200px;
    border: 3px solid gray;
}
.single-card img{
    width: 100%;
    height: 100%;
    transition: 00.5s;
}
.single-card div{
    color: #597bc7;
    
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.single-card:hover img{
    transform: scale(1.1);
}
/* previous-next-bar */
.nexted-bar{
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.nexted-bar h3 a{
    color: white;
    text-decoration: none;
    background-color: chocolate;
    padding: 5px 15px;
    border-radius: 7px;
}

.nexted-bar h3:hover a{
    background-color: #b46126;
    color: #31dada;
}
.nexted-bar div a{
    margin: 0 5px;
    color: rgb(7, 7, 7);
    text-decoration: none;
    background-color: #f8f8f8;
    padding: 5px 9px;
    border-radius: 5px;
}
.nexted-bar div a:first-child{
    background-color: #b46126;
}
    /* footer section */
    footer{
        background-color: #8a038f;
        color: white;
        padding-top: 20px;
    }
    #footerContaint{
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        grid-gap: 25px;
    }
    #footerContaint div h3{
        font-size: 30px;
        padding: 15px 0;
    }
    .footerFirstItems:first-child p{
        margin-bottom: 20px;
    }
    .footerSecondtItems p{
        margin: 8px 0;

    }
    .footerSecondtItems P a{
        text-decoration: none;
        color: white;
    }
    .footerthirdItems div{
        font-size: 30px;
        padding: 15px 0;
    }
.footerthirdItems div a{
    color: aliceblue;
    background-color: #1f4a70;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;

}
.footerthirdItems p{
    margin: 8px 0;
}