
*{
    margin: 0;
    padding: 0;
}
/* nav code stard */
#navigation{
    display: flex;
    justify-content: space-between;
    background-color: #1a1244;
    padding: 18px 200px;
    border: 2px solid #372492;
   position: sticky;
   top: 0px;
}
#navigation ul{
    display: flex;
    
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    
    
    
   

}
#navigation ul li a{
text-decoration: none;
font-size: 18px;
font-weight: bold;
color: white;
padding: 10px 20px;
border-radius: 5px;
transition: 0.5s;

}
#navigation div{
    color: white; 
}
#navigation div h1{
    font-size: 22px;
}
#navigation ul li:hover a{
    background-color: #ec14daf5;
    color:#000000 ;
}
/* nav code finished */
form{
    width: 700px;
    background-color: beige;
    margin: 50px auto;
    padding: 15px 0;
    border-radius: 15px;

}
.name-text-mail h3{
    text-align:center;
    font-size:25px;
    padding: 15px;
}
.name-text-mail div input{
    display: block;
    margin: 11px auto;
    height: 50px;
    width: 401px;
    padding: 10px 16px;
    border: none;
    border-radius: 15px;
}
.name-text-mail textarea{
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    height: 95px;
    width: 424px;
}
.last-input{
    display: block;
    margin: 24px auto;
    border: none;
    padding: 10px 16px;
    width: 222px;
    height: 64px;
    text-transform:uppercase;
    font-size: 22px;
    border-radius: 8px;
     background: linear-gradient(to right, blue, gray, yellow);
}